# Google AI Studio
GEMINI_API_KEY=your_google_ai_studio_api_key
GEMINI_MODEL=gemini-2.5-flash

# Whisper
WHISPER_MODEL=base

# Embeddings
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2

# FAISS
VECTOR_DB_PATH=data/indexes/faiss_index

# Chunking
CHUNK_SIZE=800
CHUNK_OVERLAP=150
TOP_K=5

# Admin Credentials for JWT Login
ADMIN_USERNAME=admin
ADMIN_PASSWORD=your_secure_password_here

# Storage
VIDEO_FOLDER=data/videos
AUDIO_FOLDER=data/audio
TRANSCRIPT_FOLDER=data/transcripts
CHUNK_FOLDER=data/chunks
LOG_LEVEL=INFO
